p {
  margin-bottom: 0px;
}

#searchbar:hover {
  border: 1px solid lightblue;
}

#searchbar {
  width: 300px;
  height: 36px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid transparent;
}

.notification-nudge {
  top: -6px;
  right: -6px;
  background-color: red;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.nav-item {
  height: 32px;
}

.nav-item i {
  min-width: 20px;
  text-align: center;
}

.nav-item p {
  white-space: nowrap;
  overflow: hidden;
}

.nav-item.active {
  background-color: rgb(31,40,45);
  color: var(--bs-cyan);
}

.fa-xl {
  font-size: 24px;
}

.form-control {
  padding: .25rem .5rem;
}

